Repository Game-as-a-Service/Game-Lobby-Web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix --max-warnings=0",
    "prettier --write"
  ],
  "*.{json,yml,css}": [
    "prettier --write"
  ]
}

refactor(shared): breadcrumb component
  components/shared/Breadcrumb/Breadcrumb.tsx
  components/shared/Breadcrumb/BreadcrumbItem.tsx
  components/shared/Breadcrumb/breadcrumb.test.tsx
  components/shared/Breadcrumb/breadcrumbItem.test.tsx
  components/shared/Breadcrumb/index.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix: sonar cloud issue and build error
  components/rooms/RoomButtonGroup.tsx
  components/shared/Breadcrumb/index.tsx
  components/shared/Button/Button.tsx
  features/game/contexts/index.ts
  features/room/components/JoinLockRoomForm.tsx
  features/room/components/RoomCard.tsx
  features/room/hooks/useJoinRoom.ts
  features/user/components/UserCard.tsx
  pages/auth/login.tsx
  pages/auth/token/[token].tsx
  pages/index.tsx
  pages/rooms/[roomId]/index.tsx
  pages/rooms/index.tsx
  pages/without-layout.tsx
Due: eslint --fix --max-warnings=0, prettier --write

refactor(shared): chat components
  components/shared/Chat/Chat.stories.tsx
  components/shared/Chat/Chat.tsx
  components/shared/Chat/ChatFriendList.tsx
  components/shared/Chat/ChatHeader.tsx
  components/shared/Chat/ChatInput.tsx
  components/shared/Chat/ChatMessages.tsx
  components/shared/Chat/__mocks__/mock.tsx
  components/shared/Chat/index.ts
  components/shared/Chat/v2/Chat.tsx
  containers/layout/AppLayout.tsx
  containers/provider/AuthProvider.tsx
  containers/provider/ChatroomProvider.tsx
  contexts/ChatroomContext.tsx
  hooks/useChat.ts
  hooks/useCookie.ts
  hooks/useUser.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(user): user info form data flow bug
  components/shared/Header.tsx
  components/shared/Toast/constants.ts
  features/user/components/UserCard.tsx
  features/user/components/UserInfoForm.tsx
  pages/rooms/[roomId]/index.tsx
Due: eslint --fix --max-warnings=0, prettier --write

chore: i18n
  features/room/components/CreateRoomForm.tsx
  features/room/components/JoinLockRoomForm.tsx
  features/room/hooks/useJoinRoom.ts
  pages/index.tsx
  pages/login.tsx
  pages/rooms/index.tsx
  public/locales/zh_TW/common.json
  public/locales/zh_TW/rooms.json
Due: eslint --fix --max-warnings=0, prettier --write

ci: add dependa bot config
  .github/dependabot.yaml
Due: none

refactor(shared): Cover to Image component
  components/shared/Cover/index.tsx
  components/shared/Header.tsx
  components/shared/Image/Image.stories.tsx
  components/shared/Image/Image.tsx
  components/shared/Image/image.test.tsx
  components/shared/Image/index.tsx
  features/game/components/GameCardDetailed.tsx
  features/game/components/GameCardSimple.tsx
  features/room/components/RoomCard.tsx
  next.config.js
  pages/login.tsx
  pages/rooms/[roomId]/index.tsx
  pages/rooms/index.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix: resolve Safari checkout display inconsistency
  components/shared/SelectBoxGroup/SelectBoxGroup.tsx
Due: eslint --fix --max-warnings=0, prettier --write

perf: optimize AppLayout rerender behavior
  containers/layout/AppLayout.tsx
  pages/_app.tsx
Due: eslint --fix --max-warnings=0, prettier --write

refactor: restructure layout implementation
  containers/layout/AppLayout.tsx
  pages/_app.tsx
  pages/auth/login.tsx
  pages/auth/token/[token].tsx
  pages/login.tsx
  pages/without-layout.tsx
Due: eslint --fix --max-warnings=0, prettier --write

ci: add security label
  .github/workflows/auto-label.yaml
Due: none

ci: exclude dependabot from PR auto-label workflow
  .github/workflows/auto-label.yaml
Due: none

feat: upgrade storybook dependencies
  package.json
  yarn.lock
Due: prettier --write

refactor(chatroom): migrate to socket service architecture
  containers/provider/ChatroomProvider.tsx
  containers/provider/SocketProvider.tsx
  contexts/SocketContext.tsx
  hooks/context/useChatroomService.ts
  hooks/context/useSocketCore.ts
  hooks/useRoomService.ts
  services/socket/BaseSocketService.ts
  services/socket/ChatSocketService.ts
  services/socket/GameSocketService.ts
  services/socket/README.md
  services/socket/RoomSocketService.ts
  services/socket/SocketService.ts
  services/socket/index.ts
  services/socket/types.ts
  services/socket/utils.ts
Due: eslint --fix --max-warnings=0, prettier --write

refactor(socket): implement singleton pattern for SocketService
  containers/provider/SocketProvider.tsx
  contexts/SocketContext.tsx
  services/socket/SocketService.ts
  services/socket/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

chore(ci): upgrade GitHub Actions to latest versions
  .github/workflows/build-and-deploy-storybook.yaml
Due: none

refactor(ci): remove outdated AWS deployment workflow
  .github/workflows/build-and-deploy.yaml
Due: none

refactor(workflow): standardize branches format in CI config
  .github/workflows/ci.yaml
Due: none

refactor(socket): remove Renovate Bot integration
  .github/workflows/auto-label.yaml
  renovate.json
Due: prettier --write

chore(ci): upgrade deploy-pages action from v3 to v4
  .github/workflows/build-and-deploy-storybook.yaml
Due: none

refactor(socket): improve socket service management
  containers/provider/SocketProvider.tsx
  contexts/SocketContext.tsx
  services/socket/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(ui): add socket connection status indicator
  components/shared/Header.tsx
  containers/layout/AppLayout.tsx
Due: eslint --fix --max-warnings=0, prettier --write

refactor(carousel): migrate v2 to main and remove legacy code
  components/shared/Carousel/Carousel.stories.tsx
  components/shared/Carousel/Carousel.test.tsx
  components/shared/Carousel/Carousel.tsx
  components/shared/Carousel/Carousel.type.ts
  components/shared/Carousel/CarouselArrowButton.test.tsx
  components/shared/Carousel/CarouselArrowButton.tsx
  components/shared/Carousel/CarouselButton.tsx
  components/shared/Carousel/CarouselContext.tsx
  components/shared/Carousel/CarouselItem.test.tsx
  components/shared/Carousel/CarouselItem.tsx
  components/shared/Carousel/CarouselMain.tsx
  components/shared/Carousel/CarouselPagination.tsx
  components/shared/Carousel/index.tsx
  components/shared/Carousel/mockData.ts
  components/shared/Carousel/v2/Carousel.stories.tsx
  components/shared/Carousel/v2/Carousel.tsx
  components/shared/Carousel/v2/index.tsx
  pages/index.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(BoxFancy): add asChild prop for composition pattern support
  components/shared/BoxFancy/BoxFancy.tsx
Due: eslint --fix --max-warnings=0, prettier --write

refactor(button): consolidate Button component implementations
  components/rooms/RoomButtonGroup.tsx
  components/shared/Button/Button.tsx
  components/shared/Button/button.stories.tsx
  components/shared/Button/button.test.tsx
  components/shared/Button/index.tsx
  components/shared/Button/v2/Button.stories.tsx
  components/shared/Button/v2/Button.test.tsx
  components/shared/Button/v2/Button.tsx
  components/shared/Button/v2/index.tsx
  components/shared/Modal/Modal.tsx
  components/shared/Modal/modal.stories.tsx
  components/shared/Sidebar.tsx
  components/shared/Toast/ToastQueueContext.tsx
  components/shared/Toast/useToast.stories.tsx
  features/room/components/CreateRoomForm.tsx
  features/room/components/GameRoomActions.tsx
  features/room/components/JoinLockRoomForm.tsx
  features/room/components/RoomCard.tsx
  features/user/components/UserInfoForm.tsx
  hooks/usePopup.tsx
  pages/login.tsx
  pages/rooms/[roomId]/index.tsx
  pages/without-layout.tsx
Due: eslint --fix --max-warnings=0, prettier --write

refactor: Remove GameListContext and replace with feature hook
  containers/layout/AppLayout.tsx
  contexts/game/GameListContext.tsx
  contexts/game/GameListProvider.tsx
  contexts/game/index.ts
  contexts/game/useGameList.ts
  features/user/components/UserInfoForm.tsx
  pages/rooms/index.tsx
Due: eslint --fix --max-warnings=0, prettier --write

refactor(api): migrate from SWR to custom hooks for data fetching
  components/shared/Avatar/Avatar.test.tsx
  containers/util/Startup.tsx
  contexts/auth/AuthProvider.tsx
  contexts/auth/useAuth.ts
  features/game/components/GameCardDetailed.tsx
  features/game/components/GameCardSimple.tsx
  features/game/hooks/index.ts
  features/room/components/CreateRoomForm.tsx
  features/room/components/GameRoomActions.tsx
  features/room/components/JoinLockRoomForm.tsx
  features/room/components/RoomCard.tsx
  features/room/hooks/index.ts
  features/user/components/UserInfoForm.tsx
  features/user/hooks/index.ts
  hooks/useAuthActions.ts
  hooks/useRoom.ts
  pages/index.tsx
  pages/rooms/[roomId]/index.tsx
  pages/rooms/index.tsx
  services/api/fetcher.ts
  services/api/games/type.ts
  services/api/index.ts
  services/api/keys.ts
  services/api/rooms/type.ts
  services/socket/BaseSocketService.ts
  services/socket/types.ts
Due: eslint --fix --max-warnings=0, prettier --write

chore: upgrade Node.js version to 20.19.4
  .node-version
  .nvmrc
  README.md
  docker/Dockerfile.development
  docker/Dockerfile.production
  package.json
Due: prettier --write

refactor(api): Replace manual API services with Orval auto-generation
  .gitignore
  next-env.d.ts
  orval.config.ts
  package.json
  services/api/README.md
  services/api/auth/api.ts
  services/api/auth/index.ts
  services/api/auth/type.ts
  services/api/fetcher.ts
  services/api/games/api.ts
  services/api/games/index.ts
  services/api/games/type.ts
  services/api/index.ts
  services/api/rooms/api.ts
  services/api/rooms/index.ts
  services/api/rooms/type.ts
  services/api/users/api.ts
  services/api/users/index.ts
  services/api/users/type.ts
  services/socket/RoomSocketService.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix --max-warnings=0, prettier --write

refactor(api): migrate API service architecture and optimize type
  components/rooms/RoomUserCardList/RoomUserCardList.tsx
  components/shared/Chat/ChatFriendList.tsx
  components/shared/Chat/ChatMessages.tsx
  containers/util/Startup.tsx
  contexts/auth/AuthContext.tsx
  contexts/auth/AuthProvider.tsx
  contexts/auth/useAuth.ts
  features/game/components/GameCardDetailed.tsx
  features/game/components/GameCardSimple.tsx
  features/game/hooks/index.ts
  features/game/index.ts
  features/room/components/CreateRoomForm.tsx
  features/room/components/GameRoomActions.tsx
  features/room/components/JoinLockRoomForm.tsx
  features/room/components/RoomCard.tsx
  features/room/hooks/index.ts
  features/room/index.ts
  features/user/components/UserInfoForm.tsx
  features/user/hooks/index.ts
  features/user/index.ts
  hooks/useAuthActions.ts
  hooks/useRoom.ts
  mocks/auth.ts
  mocks/games.ts
  mocks/room.ts
  orval.config.ts
  pages/api/mock/rooms.ts
  pages/index.tsx
  pages/login.tsx
  pages/rooms/[roomId]/index.tsx
  pages/rooms/index.tsx
  services/api/fetcher.ts
  services/api/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

refactor(carousel): improve type safety and simplify layout structure
  components/shared/Carousel/Carousel.stories.tsx
  components/shared/Carousel/Carousel.tsx
  components/shared/Carousel/Carousel.type.ts
  components/shared/Carousel/CarouselContext.tsx
Due: eslint --fix --max-warnings=0, prettier --write

remove: delete unused without-layout page
  pages/without-layout.tsx
Due: eslint --fix --max-warnings=0, prettier --write

refactor: Setup SWR configuration provider
  containers/util/SWRConfigProvider.tsx
  pages/_app.tsx
  services/api/README.md
  services/api/swrConfig.ts
Due: eslint --fix --max-warnings=0, prettier --write

refactor: Remove history tracking functionality
  components/util/history/ApiHistoryItem.tsx
  components/util/history/HistoryList.tsx
  components/util/history/WsHistoryItem.tsx
  contexts/history/HistoryContext.tsx
  contexts/history/HistoryProvider.tsx
  contexts/history/index.ts
  contexts/history/useHistory.ts
  contexts/socket/SocketProvider.tsx
  pages/_app.tsx
Due: eslint --fix --max-warnings=0, prettier --write

refactor(api): enhance error handling and update SWR config
  containers/util/SWRConfigProvider.tsx
  services/api/fetcher.ts
  services/api/swrConfig.ts
Due: eslint --fix --max-warnings=0, prettier --write

refactor: simplify room card and navigation logic
  components/shared/Image/Image.tsx
  features/room/components/RoomCard.tsx
  pages/rooms/[roomId]/index.tsx
  pages/rooms/index.tsx
Due: eslint --fix --max-warnings=0, prettier --write

refactor: move GameWindow to features with enhanced UI
  components/rooms/GameWindow.tsx
  containers/layout/AppLayout.tsx
  features/game/components/GameWindow.test.tsx
  features/game/components/GameWindow.tsx
  features/game/components/index.ts
  features/game/index.ts
  features/room/index.ts
  features/user/index.ts
  hooks/useAutoReset.ts
  pages/rooms/[roomId]/index.tsx
Due: eslint --fix --max-warnings=0, prettier --write
