Repository Game-as-a-Service/Game-Lobby-Web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

add docker build arm64v8
  .github/workflows/build-docker-arm64v8.yaml
  docker/Dockerfile.production.arm64v8
Due: none

Revert "👁️ refactor: remove chatroom context"
  components/rooms/RoomChatroom/RoomChatroom.tsx
  containers/provider/ChatroomProvider.tsx
  contexts/ChatroomContext.tsx
  hooks/context/useChatroom.ts
  pages/_app.tsx
  pages/api/mock/socket.ts
  pages/rooms/[roomId]/index.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: portal component
  components/shared/Modalow/Modalow.tsx
  components/shared/Modalow/Portal.tsx
  components/shared/Portal/Portal.tsx
  components/shared/Portal/index.tsx
  components/shared/Portal/portal.stories.tsx
  components/shared/Portal/protal.test.tsx
Due: eslint --fix --max-warnings=0, prettier --write

refactor: hide 'Ready' button when the user is the host
  components/rooms/RoomButtonGroup.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: leave room
  pages/rooms/[roomId]/index.tsx
  requests/rooms/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

✨ ts-reset to add strict type casting
  package.json
  reset.d.ts
  yarn.lock
Due: eslint --fix --max-warnings=0, prettier --write

✨ refactor ci workflow & add storybook testing
  .github/workflows/ci.yaml
  package.json
  yarn.lock
Due: prettier --write

⏪️ revert to origin steps
  .github/workflows/ci.yaml
Due: none

➕ add playwright test
  package.json
  yarn.lock
Due: prettier --write

♻️ redefine ci workflow steps
  .github/workflows/ci.yaml
Due: none

🚚 rename workflow name
  .github/workflows/ci.yaml
Due: none

🐛 add workflow name as concurrency group key
  .github/workflows/ci.yaml
Due: none

🐛 add job name
  .github/workflows/ci.yaml
Due: none

✨ add name for each jobs
  .github/workflows/ci.yaml
Due: none

fix: userinfomodal loading disable other actions
  components/lobby/UserInfoModal.tsx
Due: eslint --fix --max-warnings=0, prettier --write

refactor: integrated component with portal
  components/shared/Chat/index.tsx
  components/shared/Portal/Portal.tsx
  components/shared/Toast/CtxToastQueue.tsx
  components/shared/Toast/ToastQueueContext.tsx
  pages/_document.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: lobby games
  components/lobby/CreateRoomModal/CreateRoomModal.tsx
  components/lobby/games/GamesList.tsx
  components/lobby/games/GamesListView.tsx
  components/shared/Card/Card.stories.tsx
  components/shared/Card/Card.tsx
  components/shared/Card/CardActions.tsx
  components/shared/Card/card.test.tsx
  components/shared/Card/index.tsx
  components/shared/Cover/index.tsx
  components/shared/Header.tsx
  components/shared/Icon/group/star.tsx
  components/shared/Icon/icons/index.ts
  components/shared/Icon/icons/svgs/star.svg
  components/shared/Sidebar.tsx
  containers/layout/AppLayout.tsx
  jest.config.mjs
  mocks/lobby-games.ts
  next.config.js
  package.json
  pages/api/mock/lobby-games.ts
  pages/index.tsx
  requests/games/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

👷 bundle analyze workflow
  .github/workflows/next-bundle-analysis.yaml
Due: none

🐛 fix wrong extension
  .github/workflows/next-bundle-analysis.yaml
Due: none

👷 set continue on error
  .github/workflows/next-bundle-analysis.yaml
Due: none

👷 add step checker
  .github/workflows/next-bundle-analysis.yaml
Due: none

⏪️ revert change
  .github/workflows/next-bundle-analysis.yaml
Due: none

🚚 rename build artifact
  .github/workflows/next-bundle-analysis.yaml
Due: none

🧪 test triger
  .github/workflows/next-bundle-analysis.yaml
Due: none

🧪 for testing
  pages/_app.tsx
Due: eslint --fix --max-warnings=0, prettier --write

remove workflow props
  .github/workflows/next-bundle-analysis.yaml
Due: none

add workflow conclusion
  .github/workflows/next-bundle-analysis.yaml
Due: none

change path
  .github/workflows/next-bundle-analysis.yaml
Due: none

👷 complete the workflow setting
  .github/workflows/next-bundle-analysis.yaml
Due: none

fix: reslove flashing-popup issue#220
  hooks/usePopup.tsx
Due: eslint --fix --max-warnings=0, prettier --write

✨ feat: enter room
  components/lobby/EnterPrivateRoomModal/EnterPrivateRoomModal.tsx
  components/shared/PasswordField/PasswordField.tsx
  containers/room/RoomListView.tsx
  mocks/room.ts
  mocks/rooms.ts
  pages/api/mock/rooms/[roomId]/players.ts
  pages/api/mock/rooms/[roomId]/players/index.ts
  requests/rooms/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: ready room
  components/rooms/RoomButtonGroup.tsx
  pages/api/mock/rooms/[roomId]/players/[userId].ts
  pages/api/mock/rooms/[roomId]/players/index.ts
  pages/rooms/[roomId]/index.tsx
  requests/rooms/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

🔥 remove continue on error action in download base branch stat step
  .github/workflows/next-bundle-analysis.yaml
Due: none

fix: email read only in UserInfoModal
  components/lobby/UserInfoModal.tsx
Due: eslint --fix --max-warnings=0, prettier --write

✨ add whyDidYouRender debugging tool
  package.json
  pages/_app.tsx
  scripts/whyDidYouRender.ts
  yarn.lock
Due: eslint --fix --max-warnings=0, prettier --write

📌 pin the version of wdyr
  yarn.lock
Due: none

⬆️ upgrade dependencies
  yarn.lock
Due: none

fix(api): get games
  components/lobby/CreateRoomModal/CreateRoomModal.tsx
  components/lobby/CreateRoomModal/GameListModal/GameList/GameItem.tsx
  mocks/games.ts
  requests/games/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

refactor: add three mock room api responses
  pages/api/mock/rooms/[roomId]/index.ts
  pages/api/mock/rooms/[roomId]/players/[userId].ts
  pages/rooms/[roomId]/index.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Path conditions:
  eslint --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,yml,css})
