Repository Game-as-a-Service/Game-Lobby-Web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix --max-warnings=0",
    "prettier --write"
  ],
  "*.{json,yml,css}": [
    "prettier --write"
  ]
}

fix: rm console.log
  shared/components/Modal/example/ModalExample1.tsx
  shared/components/Modal/example/ModalExample2.tsx
  shared/components/Modal/example/ModalExample3.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix: model typings and rm example
  pages/index.tsx
  shared/components/Modal/ModalManager/src/ModalManager.tsx
  shared/components/Modal/ModalManager/src/ModalManagerBase.tsx
  shared/components/Modal/ModalManager/src/ModalStore.tsx
  shared/components/Modal/ModalManager/src/typings.ts
  shared/components/Modal/example/ModalExample1.tsx
  shared/components/Modal/example/ModalExample2.tsx
  shared/components/Modal/example/ModalExample3.tsx
  shared/components/Modal/index.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: tag
  .prettierrc
  cypress/tsconfig.json
  jest.config.mjs
  package.json
  shared/components/Input/input.test.tsx
  shared/components/Tag/Tag.tsx
  shared/components/Tag/index.ts
  shared/components/Tag/tag.stories.tsx
  shared/components/Tag/tag.test.tsx
  tsconfig.json
  tsconfig.test.json
  yarn.lock
Due: eslint --fix --max-warnings=0, prettier --write

fix(test): unit test file missing import
  shared/components/Avatar/Avatar.test.tsx
  shared/components/Badge/badge.test.tsx
  shared/components/Button/button.test.tsx
  shared/components/Icon/icon.test.tsx
  shared/components/Input/input.test.tsx
  shared/components/SearchBar/searchBar.test.tsx
  shared/components/Tabs/Tab.test.tsx
  shared/components/Tabs/Tabs.test.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: add GamePickModal component
  pages/components/GamePickModal/CategoryTitle.tsx
  pages/components/GamePickModal/GameItem.tsx
  pages/components/GamePickModal/GameList.tsx
  pages/components/GamePickModal/GamePickModal.tsx
  pages/components/GamePickModal/gamePickModal.module.css
  pages/components/GamePickModal/index.tsx
  pages/index.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: implement fixed and portal toast messages
  pages/index.tsx
  shared/components/Toast/Toast.tsx
  shared/components/Toast/useToast.tsx
Due: eslint --fix --max-warnings=0, prettier --write

👷 add cache step in workflow
  .github/workflows/build-and-deploy.yaml
Due: none

👷 add ci.yaml for pull_request ci pipeline
  .github/workflows/ci.yaml
Due: none

♻️ rename workflow
  .github/workflows/build-and-deploy.yaml
Due: none

👷 cache cypress binary
  .github/workflows/ci.yaml
Due: none

🔥 remove steps for testing
  .github/workflows/build-and-deploy.yaml
  .github/workflows/ci.yaml
Due: none

🔥 remove environment key-value
  .github/workflows/ci.yaml
Due: none

feat: build layout
  next.config.js
  package.json
  pages/api/mock/rooms/index.tsx
  pages/index.tsx
  public/images/game-avatar.jpg
  styles/global.css
  tailwind.config.js
  yarn.lock
Due: eslint --fix --max-warnings=0, prettier --write

🔧 production docker optimization
  .dockerignore
  docker/Dockerfile.production
  next.config.js
Due: eslint --fix --max-warnings=0, prettier --write

feat: add CreateGameRoomModal and clone Modalow
  pages/components/CreateGameRoom/CreateGameRoomModal.tsx
  pages/components/CreateGameRoom/index.tsx
  pages/index.tsx
  shared/components/Modalow/Body.tsx
  shared/components/Modalow/Example.tsx
  shared/components/Modalow/Footer.tsx
  shared/components/Modalow/Header.tsx
  shared/components/Modalow/Icon.tsx
  shared/components/Modalow/Mask.tsx
  shared/components/Modalow/Modalow.stories.tsx
  shared/components/Modalow/Modalow.tsx
  shared/components/Modalow/Portal.tsx
  shared/components/Modalow/index.tsx
  shared/components/Modalow/modal.module.css
  shared/components/Modalow/modalow.test.tsx
  shared/contexts/CreateGameRoomContext.tsx
  yarn.lock
Due: eslint --fix --max-warnings=0, prettier --write

feat: add createRoom, getAllGames endpoints and mock response
  pages/api/internal/[...slug].tsx
  pages/api/mock/games.ts
  pages/api/mock/rooms.ts
  requests/games/index.ts
  requests/request.ts
  requests/rooms/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: create Rooms component and mock API
  .lintstagedrc
  pages/api/internal/[...slug].tsx
  pages/api/mock/rooms/index.tsx
  pages/index.tsx
  pages/rooms.tsx
  requests/request.ts
  requests/rooms/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: fetch mock games and createRoom
  pages/components/CreateGameRoom/CreateGameRoomModal.tsx
  pages/components/CreateGameRoom/GamePickModal/CategoryTitle.tsx
  pages/components/CreateGameRoom/GamePickModal/GameItem.tsx
  pages/components/CreateGameRoom/GamePickModal/GameList.tsx
  pages/components/CreateGameRoom/GamePickModal/GamePickModal.tsx
  pages/components/CreateGameRoom/GamePickModal/gamePickModal.module.css
  pages/components/CreateGameRoom/GamePickModal/index.tsx
  pages/index.tsx
  shared/contexts/CreateGameRoomContext.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: add "/rooms/:roomId" Route and its Page Component
  pages/rooms/[roomId]/components/UserCard.tsx
  pages/rooms/[roomId]/index.tsx
Due: eslint --fix --max-warnings=0, prettier --write

doc: 📝 add button story book
  shared/components/Button/Button.stories.ts
  shared/components/Button/Button.tsx
  shared/components/Button/button.stories.tsx
Due: eslint --fix --max-warnings=0, prettier --write

refactor: modal
  shared/components/Modalow/Body.tsx
  shared/components/Modalow/Example.tsx
  shared/components/Modalow/Footer.tsx
  shared/components/Modalow/Header.tsx
  shared/components/Modalow/Icon.tsx
  shared/components/Modalow/Mask.tsx
  shared/components/Modalow/Modalow.stories.tsx
  shared/components/Modalow/Modalow.tsx
  shared/components/Modalow/Portal.tsx
  shared/components/Modalow/index.tsx
  shared/components/Modalow/modal.module.css
  shared/components/Modalow/modalow.test.tsx
Due: eslint --fix --max-warnings=0, prettier --write

👷 extract to multi jobs & restore cache
  .github/workflows/ci.yaml
Due: none

🔥 chore: remove blank
  .github/workflows/ci.yaml
Due: none

🐛 change eslint config file name
  .github/workflows/ci.yaml
Due: none

♻️ update cache key
  .github/workflows/build-and-deploy.yaml
Due: none

👷 add next cache file in merge pipeline cache
  .github/workflows/build-and-deploy.yaml
Due: none

fix: Adjusted modal style
  shared/components/Modalow/Body.tsx
  shared/components/Modalow/Modalow.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: add getRoomInfo endpoint and mock response
  pages/api/mock/rooms.ts
  pages/api/mock/rooms/[roomId].ts
  requests/rooms/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: add RoomContext and useRoom hook
  pages/_app.tsx
  shared/containers/provider/RoomProvider/RoomProvider.tsx
  shared/containers/provider/RoomProvider/index.ts
  shared/containers/provider/RoomProvider/type.ts
  shared/contexts/RoomContext.tsx
  shared/hooks/context/useRoom.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: apply useRoom
  pages/rooms/[roomId]/components/UserCard.tsx
  pages/rooms/[roomId]/index.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: env for mock and backend endpoint
  .env
  .env.production
  lib/env.ts
  pages/api/internal/[...slug].tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: oauth login & login flow
  .eslintrc.json
  .lintstagedrc
  package.json
  pages/_app.tsx
  pages/api/env.ts
  pages/api/mock/auth/authentication.ts
  pages/api/mock/auth/login.ts
  pages/api/mock/auth/token.ts
  pages/auth/login.tsx
  pages/auth/token/[token].tsx
  pages/index.tsx
  pages/login.tsx
  pages/without-layout.tsx
  requests/auth/auth.ts
  shared/containers/provider/AuthProvider.tsx
  shared/containers/util/Startup.tsx
  shared/contexts/AuthContext.tsx
  shared/hooks/context/useAuth.ts
  shared/hooks/useCookie.ts
  shared/hooks/useUser.ts
  yarn.lock
Due: eslint --fix --max-warnings=0, prettier --write

🔨 pre-commit & pre-push refinement
  .eslintrc.json
  .husky/pre-push
  .lintstagedrc
  lint-staged.config.js
  package.json
  yarn.lock
Due: eslint --fix --max-warnings=0, prettier --write

🐛 fix build error
  package.json
  yarn.lock
Due: prettier --write

refactor: rename useRoom actions, GamePickModal restyle
  pages/api/mock/rooms.ts
  pages/components/CreateGameRoom/GamePickModal/GamePickModal.tsx
  pages/rooms/[roomId]/index.tsx
  shared/containers/provider/RoomProvider/RoomProvider.tsx
  shared/containers/provider/RoomProvider/type.ts
  shared/contexts/RoomContext.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: add UserCard test
  pages/rooms/[roomId]/components/UserCard.test.tsx
Due: eslint --fix --max-warnings=0, prettier --write

add CreateGameRoomContext and CreateGameRoomProvider
  pages/_app.tsx
  pages/components/CreateGameRoom/CreateGameRoomModal.tsx
  shared/components/Input/Input.tsx
  shared/containers/provider/CreateGameRoomProvider.tsx
  shared/contexts/CreateGameRoomContext.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: current user info & mock example
  mocks/auth.ts
  pages/api/mock/auth/login.ts
  pages/api/mock/auth/token.ts
  pages/api/mock/user/me.ts
  requests/auth/auth.ts
  requests/auth/user.ts
  shared/containers/provider/AuthProvider.tsx
  shared/containers/util/Startup.tsx
  shared/contexts/AuthContext.tsx
  shared/hooks/useRequest.ts
  shared/hooks/useUser.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: package.json
  package.json
Due: prettier --write

feat: add function: handleChangeGame & handleChangeMaxPlayers
  pages/_app.tsx
  pages/api/mock/games.ts
  pages/components/CreateGameRoom/CreateGameRoomModalWithoutClassname.tsx
  pages/components/CreateGameRoom/createGameRoomModal.module.css
  pages/index.tsx
Due: eslint --fix --max-warnings=0, prettier --write
