Repository Game-as-a-Service/Game-Lobby-Web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

💄 color gray to grey
  tailwind.config.js
Due: eslint --fix --max-warnings=0, prettier --write

refactor: update for rebase pr
  components/shared/Bars/v2/MenuBar/MenuBar.tsx
  components/shared/Bars/v2/NavBar/NavBar.tsx
  components/shared/Bars/v2/SearchBar/SearchBarDumb.tsx
  components/shared/Bars/v2/SearchBar/SearchDrawer.tsx
  components/shared/Icon/icons/svgs/chat.svg
  components/shared/Icon/icons/svgs/notification.svg
Due: eslint --fix --max-warnings=0, prettier --write

feat: update SearchBar
  components/shared/Bars/v2/SearchBar/NavHeader.tsx
  components/shared/Bars/v2/SearchBar/NavItem.tsx
  components/shared/Bars/v2/SearchBar/SearchBar.tsx
  components/shared/Bars/v2/SearchBar/SearchBarDumb.tsx
  components/shared/Bars/v2/SearchBar/SearchDrawer.tsx
Due: eslint --fix --max-warnings=0, prettier --write

💄 update chat background color
  components/shared/Chat/v2/Chat.stories.tsx
  components/shared/Chat/v2/Chat.tsx
  components/shared/Chat/v2/ChatInput.tsx
Due: eslint --fix --max-warnings=0, prettier --write

⬆️ update yarn.lock dependencies
  yarn.lock
Due: none

♻️ refactor userId
  components/shared/Chat/v2/Chat.stories.tsx
  components/shared/Chat/v2/Chat.tsx
  components/shared/Chat/v2/ChatMessages.tsx
  components/shared/Chat/v2/__mocks__/mock.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Revert "⬆️ update yarn.lock dependencies"
  yarn.lock
Due: none

✨ change svg fill to inherit
  components/shared/Icon/icons/svgs/nav-arrow-left.svg
  components/shared/Icon/icons/svgs/sent.svg
Due: none

✨ update avatar size
  components/shared/Avatar/Avatar.tsx
Due: eslint --fix --max-warnings=0, prettier --write

💄 update global style
  styles/global.css
  tailwind.config.js
Due: eslint --fix --max-warnings=0, prettier --write

🚨 fix SonarCloud Quality Gate failed
  components/shared/Chat/v2/Chat.stories.tsx
  components/shared/Chat/v2/Chat.tsx
  components/shared/Chat/v2/ChatFriendList.tsx
  components/shared/Chat/v2/ChatHeader.tsx
  components/shared/Chat/v2/ChatInput.tsx
  components/shared/Chat/v2/ChatMessages.tsx
Due: eslint --fix --max-warnings=0, prettier --write

✨ add chat component and storybook
  components/shared/Chat/v2/Chat.stories.tsx
  components/shared/Chat/v2/Chat.tsx
  components/shared/Chat/v2/ChatFriendList.tsx
  components/shared/Chat/v2/ChatHeader.tsx
  components/shared/Chat/v2/ChatInput.tsx
  components/shared/Chat/v2/ChatMessages.tsx
  components/shared/Chat/v2/__mocks__/mock.tsx
Due: eslint --fix --max-warnings=0, prettier --write

📝 add starting the project and socket endpoint
  .env.development
  .env.example
  .env.production
  README.md
  contexts/SocketContext.tsx
  lib/env.ts
Due: eslint --fix --max-warnings=0, prettier --write

👷 add "doc" to ci auto label
  .github/workflows/auto-label.yaml
Due: none

📝 add mock data and cancel environment variable
  README.md
  contexts/SocketContext.tsx
Due: eslint --fix --max-warnings=0, prettier --write

🚀 auto deploy storybook to github pages
  .github/workflows/build-and-deploy-storybook.yaml
Due: none

👷 update ci add "doc" label and remove dependabot
  .github/dependabot.yml
  .github/workflows/auto-label.yaml
Due: prettier --write

Update build-and-deploy-storybook.yaml
  .github/workflows/build-and-deploy-storybook.yaml
Due: none

♻️ refactor socket options to use query parameters for authentication
  contexts/SocketContext.tsx
  pages/api/mock/socketio.ts
Due: eslint --fix --max-warnings=0, prettier --write

💚 update node.js version for automatic Storybook deployment
  .github/workflows/build-and-deploy-storybook.yaml
Due: none

💄 fix chat room color
  components/rooms/RoomChatroom/RoomChatroom.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: add NavBar
  components/shared/Bars/NavBar/NavBar.stories.tsx
  components/shared/Bars/NavBar/NavBar.test.tsx
  components/shared/Bars/NavBar/NavBar.tsx
  components/shared/Bars/NavBar/index.ts
  components/shared/Icon/icons/index.ts
  components/shared/Icon/icons/svgs/chat.svg
  components/shared/Icon/icons/svgs/logo.svg
  components/shared/Icon/icons/svgs/notification.svg
Due: eslint --fix --max-warnings=0, prettier --write

feat: add MenuBar
  components/shared/Bars/MenuBar/MenuBar.stories.tsx
  components/shared/Bars/MenuBar/MenuBar.test.tsx
  components/shared/Bars/MenuBar/MenuBar.tsx
  components/shared/Bars/MenuBar/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

refactor: move Bars to Bars/v2
  components/shared/Bars/v2/MenuBar/MenuBar.stories.tsx
  components/shared/Bars/v2/MenuBar/MenuBar.test.tsx
  components/shared/Bars/v2/MenuBar/MenuBar.tsx
  components/shared/Bars/v2/MenuBar/index.ts
  components/shared/Bars/v2/NavBar/NavBar.stories.tsx
  components/shared/Bars/v2/NavBar/NavBar.test.tsx
  components/shared/Bars/v2/NavBar/NavBar.tsx
  components/shared/Bars/v2/NavBar/index.ts
  components/shared/Bars/v2/SearchBar/NavItem.tsx
  components/shared/Bars/v2/SearchBar/SearchBar.stories.tsx
  components/shared/Bars/v2/SearchBar/SearchBar.test.tsx
  components/shared/Bars/v2/SearchBar/SearchBar.tsx
  components/shared/Bars/v2/SearchBar/SearchBarDumb.tsx
  components/shared/Bars/v2/SearchBar/SearchDrawer.tsx
  components/shared/Bars/v2/SearchBar/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: The SearchBar implements search events
  components/shared/Bars/v2/SearchBar/NavItem.tsx
  components/shared/Bars/v2/SearchBar/SearchBar.stories.tsx
  components/shared/Bars/v2/SearchBar/SearchBar.test.tsx
  components/shared/Bars/v2/SearchBar/SearchBar.tsx
  components/shared/Bars/v2/SearchBar/SearchBarDumb.tsx
  components/shared/Bars/v2/SearchBar/SearchDrawer.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: add TabBar
  components/shared/Bars/v2/TabBar/TabBar.stories.tsx
  components/shared/Bars/v2/TabBar/TabBar.test.tsx
  components/shared/Bars/v2/TabBar/TabBar.tsx
  components/shared/Bars/v2/TabBar/TabItem.tsx
  components/shared/Bars/v2/TabBar/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: add SearchBar in development version
  components/shared/Bars/SearchBar/NavItem.tsx
  components/shared/Bars/SearchBar/SearchBar.stories.tsx
  components/shared/Bars/SearchBar/SearchBar.test.tsx
  components/shared/Bars/SearchBar/SearchBar.tsx
  components/shared/Bars/SearchBar/SearchBarDumb.tsx
  components/shared/Bars/SearchBar/SearchDrawer.tsx
  components/shared/Bars/SearchBar/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: The SearchBar's search events don't work when Enter is pressed.
  components/shared/Bars/v2/SearchBar/SearchBarDumb.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix: game end not getting the correct room status bug
  pages/rooms/[roomId]/index.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: new card design with gradient border and semi-transparent background
  pages/login.tsx
  tailwind.config.js
Due: eslint --fix --max-warnings=0, prettier --write

feat: new card design with gradient border and semi-transparent background
  pages/login.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: add shared component 'BoxFancy'
  components/shared/BoxFancy/BoxFancy.tsx
  components/shared/BoxFancy/index.ts
  pages/login.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: add unit-test for BoxFancy
  components/shared/BoxFancy/BoxFancy.test.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: add storybook for BoxFancy
  components/shared/BoxFancy/BoxFancy.stories.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: polymorphic BoxFancy component
  components/shared/BoxFancy/BoxFancy.stories.tsx
  components/shared/BoxFancy/BoxFancy.test.tsx
  components/shared/BoxFancy/BoxFancy.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Path conditions:
  eslint --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,yml,css})
