Repository Game-as-a-Service/Game-Lobby-Web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix --max-warnings=0",
    "prettier --write"
  ],
  "*.{json,yml,css}": [
    "prettier --write"
  ]
}

📌 pin @types/react & use yarn resolution
  package.json
  yarn.lock
Due: prettier --write

🔧 add bundlewatch in CI
  .bundlewatch.config.js
  .github/workflows/ci.yaml
  package.json
  yarn.lock
Due: eslint --fix --max-warnings=0, prettier --write

🐛 put bundlewatch after build step
  .github/workflows/ci.yaml
Due: none

🔧 add diff branch in config
  .bundlewatch.config.js
Due: eslint --fix --max-warnings=0, prettier --write

🔧 add env for bundlewatch status check
  .bundlewatch.config.js
  .github/workflows/ci.yaml
Due: eslint --fix --max-warnings=0, prettier --write

🔧 change CI env name
  .bundlewatch.config.js
  .github/workflows/ci.yaml
Due: eslint --fix --max-warnings=0, prettier --write

fix: show history only on dev
  pages/_app.tsx
Due: eslint --fix --max-warnings=0, prettier --write

🔥 chore: clean code
  .bundlewatch.config.js
Due: eslint --fix --max-warnings=0, prettier --write

feat(component): toast
  components/shared/Toast/CtxToastQueue.tsx
  components/shared/Toast/Toast.stories.tsx
  components/shared/Toast/Toast.test.tsx
  components/shared/Toast/Toast.tsx
  components/shared/Toast/ToastQueueContext.tsx
  components/shared/Toast/index.tsx
  components/shared/Toast/toastStoryArgTypes.ts
  components/shared/Toast/useToast.stories.tsx
  components/shared/Toast/useToast.tsx
  pages/_app.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Update README.md
  README.md
Due: none

feat: 💄 add login layout
  components/shared/Icon/group/discord.ts
  components/shared/Icon/group/github.ts
  components/shared/Icon/group/google.ts
  components/shared/Icon/group/linkedin.ts
  components/shared/Icon/group/logo.ts
  pages/login.tsx
  public/images/login_bg.png
Due: eslint --fix --max-warnings=0, prettier --write

refactor(layout): appLayout and header
  components/shared/Chat/index.tsx
  components/shared/Header.tsx
  containers/layout/AppLayout.tsx
  containers/provider/UiProvider.tsx
  contexts/UiContext.tsx
  pages/_document.tsx
Due: eslint --fix --max-warnings=0, prettier --write

refactor: remove unused imports
  components/rooms/RoomCard.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: password field component
  components/lobby/CreateRoomModal/CreateRoomModal.tsx
  components/shared/PasswordField/PasswordField.stories.tsx
  components/shared/PasswordField/PasswordField.test.tsx
  components/shared/PasswordField/PasswordField.tsx
  components/shared/PasswordField/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: chatroom in room page via websocket
  components/lobby/CreateRoomModal/GameListModal/GameListModal.tsx
  components/lobby/CreateRoomModal/GameListModal/gameListModal.module.css
  components/rooms/RoomChatroom/ChatMessage.test.tsx
  components/rooms/RoomChatroom/ChatMessage.tsx
  components/rooms/RoomChatroom/RoomChatroom.test.tsx
  components/rooms/RoomChatroom/RoomChatroom.tsx
  components/rooms/RoomChatroom/index.ts
  containers/provider/ChatroomProvider.tsx
  contexts/ChatroomContext.tsx
  hooks/context/useChatroom.ts
  package.json
  pages/_app.tsx
  pages/api/mock/socket.ts
  pages/rooms/[roomId]/index.tsx
  styles/global.css
  yarn.lock
Due: eslint --fix --max-warnings=0, prettier --write

fix: api route
  pages/api/internal/[...slug].tsx
Due: eslint --fix --max-warnings=0, prettier --write

refactor: roomPage JSX & style
  components/rooms/RoomChatroom/RoomChatroom.tsx
  components/rooms/RoomUserCardList/RoomUserCardList.tsx
  pages/rooms/[roomId]/index.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: enter provate room modal
  components/lobby/EnterPrivateRoomModal/EnterPrivateRoomModal.tsx
  components/lobby/EnterPrivateRoomModal/index.tsx
  components/shared/PasswordField/PasswordField.tsx
  containers/room/RoomListView.tsx
  lib/utils.ts
  mocks/room.ts
  pages/api/mock/rooms/[roomId]/index.ts
  pages/api/mock/rooms/[roomId]/players.ts
  requests/rooms/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

🐛 fix wrong yaml syntax
  .github/workflows/ci.yaml
Due: none

🔧 add lhci workflow
  .github/workflows/ci.yaml
  lighthouserc.js
Due: eslint --fix --max-warnings=0, prettier --write

🔧 complete lhci scan in CI workflow
  .github/workflows/ci.yaml
  lighthouserc.js
  pages/_app.tsx
  scripts/lhciScanReporter.js
Due: eslint --fix --max-warnings=0, prettier --write

feat: carousel
  components/shared/Carousel/Carousel.stories.tsx
  components/shared/Carousel/Carousel.test.tsx
  components/shared/Carousel/Carousel.tsx
  components/shared/Carousel/CarouselArrowButton.test.tsx
  components/shared/Carousel/CarouselArrowButton.tsx
  components/shared/Carousel/CarouselItem.test.tsx
  components/shared/Carousel/CarouselItem.tsx
  components/shared/Carousel/index.tsx
  components/shared/Carousel/mockData.ts
  components/shared/Sidebar.tsx
  pages/index.tsx
  public/images/arrow-next.svg
  public/images/arrow-prev.svg
Due: eslint --fix --max-warnings=0, prettier --write

apply the icon component to CarouselArrowButton
  components/shared/Carousel/CarouselArrowButton.tsx
  components/shared/Icon/icons/index.ts
  components/shared/Icon/icons/svgs/arrow-next.svg
  components/shared/Icon/icons/svgs/arrow-prev.svg
  public/images/arrow-next.svg
  public/images/arrow-prev.svg
Due: eslint --fix --max-warnings=0, prettier --write

🔧 auto label based on PR title workflow
  .github/workflows/auto-label.yaml
Due: none

🔧 add reviewing labels based on comment counts
  .github/workflows/auto-label.yaml
Due: none

🔧 simplify the workflow
  .github/workflows/auto-label.yaml
Due: none

Update key type of Tabs component to be generic
  components/shared/Tabs/Tab.tsx
  components/shared/Tabs/Tabs.stories.tsx
  components/shared/Tabs/Tabs.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Remove unnecessary useEffect and useState syntax
  containers/room/RoomListView.tsx
  pages/rooms.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: kick-user and close-room
  components/rooms/RoomButtonGroup.tsx
  components/rooms/RoomChatroom/RoomChatroom.tsx
  components/rooms/RoomUserCardList/RoomUserCardList.tsx
  components/rooms/RoomUserCardList/UserCard/UserCard.test.tsx
  components/rooms/RoomUserCardList/UserCard/UserCard.tsx
  components/shared/Icon/icons/index.ts
  components/shared/Icon/icons/svgs/kick_user.svg
  hooks/usePopup.tsx
  mocks/room.ts
  pages/api/mock/rooms/[roomId]/players/[userId].ts
  pages/rooms/[roomId]/index.tsx
  requests/rooms/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: rooms add layout
  components/rooms/RoomCard.tsx
  components/rooms/RoomsList.tsx
  components/shared/Chat/ChatMessage.tsx
  components/shared/Header.tsx
  components/util/api-history/ApiHistoryList.tsx
  containers/layout/AppLayout.tsx
  pages/rooms.tsx
  styles/global.css
  tailwind.config.js
Due: eslint --fix --max-warnings=0, prettier --write

✨ feat: use request add toast and fix bug 1. use request add toast 2. fix api error logout 3. remove call login alert 4. fix tailwindCSS color
  components/lobby/EnterPrivateRoomModal/EnterPrivateRoomModal.tsx
  components/lobby/UserInfoModal.tsx
  components/rooms/RoomCard.tsx
  components/rooms/RoomsList.tsx
  hooks/useRequest.ts
  pages/login.tsx
  tailwind.config.js
Due: eslint --fix --max-warnings=0, prettier --write

♻️ refactor toast context timer state & cb function
  components/shared/Toast/ToastQueueContext.tsx
Due: eslint --fix --max-warnings=0, prettier --write

⚡️ reduce image size by next output tracing
  docker/Dockerfile.production
  next.config.js
  package.json
  yarn.lock
Due: eslint --fix --max-warnings=0, prettier --write

🐛 setup docker buildx
  .github/workflows/build-and-deploy.yaml
Due: none

🔥 remove test code
  .github/workflows/build-and-deploy.yaml
Due: none

🔧 copy ./next/server/pages to container
  docker/Dockerfile.production
Due: none

first try
  .github/workflows/build-and-deploy.yaml
Due: none

🔧 use build-push-action to cache docker layer and improve build time
  .github/workflows/build-and-deploy.yaml
Due: none

👷 delete branch resource after PR close
  .github/workflows/ci.yaml
  .github/workflows/cleanup-cache-after-merge.yaml
Due: none

refactor: remove chatroom context
  components/rooms/RoomChatroom/RoomChatroom.tsx
  contexts/ChatroomContext.tsx
  hooks/context/useChatroom.ts
  hooks/useChatroom.ts
  package.json
  pages/_app.tsx
  pages/api/mock/socket.ts
  pages/rooms/[roomId]/index.tsx
Due: eslint --fix --max-warnings=0, prettier --write
